@import "../../styles/vars.scss";

.host-booking-list {
  max-width: 1200px;
  width: 100%;

  &__card {
    display: flex;
    border-bottom: 1px solid $colorGrey;
    font-family: $font2;
    padding: 14px;

    &-image {
      img {
        max-width: 200px;
      }
    }

    &-description {
      padding: 0 14px;
      width: 100%;

      table {
        font-size: 14px;
        width: 80%;

        tr {
          td:first-child {
            text-decoration: underline;
          }
        }
      }
    }

    &-actions {
      display: flex;
      flex-direction: column;
      justify-content: center;
      position: relative;
      button {
        background-color: rgba(173, 221, 202, 0.271);
        border: none;
        cursor: pointer;
        font-family: $font2;
        padding: 9px 24px;
        min-width: 110px;
      }

      .error {
        position: absolute;
        top: calc(50% + 24px);
      }
    }
  }

  &__container {
    padding: 14px;
    display: flex;
    justify-content: center;
  }
}
