@font-face {
  font-family: "ivy_moderegular";
  src: url("./ivyMode/ivymode-regular-webfont.woff2") format("woff2"),
    url("./ivyMode/ivymode-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "messina_sans";
  src: url("./messinaSans/messinasans-light-webfont.woff2") format("woff2"),
    url("./messinaSans/messinasans-light-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "messina_sans";
  src: url("./messinaSans/messinasans-semibold-webfont.woff2") format("woff2"),
    url("./messinaSans/messinasans-semibold-webfont.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "icomoon";
  src: url("./icomoon/icomoon.eot?ueong");
  src: url("./icomoon/icomoon.eot?ueong#iefix") format("embedded-opentype"),
    url("./icomoon/icomoon.ttf?ueong") format("truetype"),
    url("./icomoon/icomoon.woff?ueong") format("woff"),
    url("./icomoon/icomoon.svg?ueong#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}
