@import "../../styles/vars.scss";

.date-pickers {
  &-wrapper {
    display: flex;
  }

  &-item {
    padding: 5px 20px;
    position: relative;

    &:not(:last-of-type) {
      border-right: 1px solid $colorGrey;
    }

    input {
      padding: 7px 14px 7px 32px;
      font-family: $font2;
      border: none;
      outline: none;
      text-align: center;
    }

    &__input-date {
      width: 110px;
    }

    > button {
      padding: 9px 24px;
      background-color: $secondaryButtonColor;
      border: none;
      font-family: $font2;
      cursor: pointer;
    }

    .input-icon {
      position: absolute;
      z-index: 1;
      transform: translate(8px, 5px);
      opacity: 0.6;
    }
  }

  &-inputs {
    font-family: $font2;

    .react-datepicker__day--keyboard-selected,
    .react-datepicker__day-selected,
    .react-datepicker__day--in-selecting-range,
    .react-datepicker__day--in-range,
    .react-datepicker__day--selected,
    .react-datepicker__day--in-selecting-range,
    .react-datepicker__day--in-range {
      background-color: $greenPrimaryColor;
    }

    .react-datepicker__day--in-selecting-range:not(.react-datepicker__day--in-range, .react-datepicker__month-text--in-range, .react-datepicker__quarter-text--in-range, .react-datepicker__year-text--in-range) {
      background-color: $greenPrimaryColorOpacity;
    }
  }
}
