@import "../../styles/vars.scss";

.date-pickers {
  &-wrapper {
    display: flex;
  }

  &-item {
    padding: 5px 20px;
    position: relative;
    display: flex;
    align-items: center;

    &:not(:last-of-type) {
      border-right: 1px solid $colorGrey;
    }

    &__clear {
      width: 17px;
      button {
        padding: 7px 0;
      }
    }

    input {
      padding: 7px 14px 7px 32px;
      font-family: $font2;
      border: none;
      outline: none;
      text-align: center;
    }

    &__input-date {
      width: 110px;
    }

    .input-icon {
      position: absolute;
      z-index: 1;
      transform: translate(15px, -2px);
      opacity: 0.6;
    }
  }

  &-inputs {
    font-family: $font2;

    .react-datepicker__day--keyboard-selected,
    .react-datepicker__day-selected,
    .react-datepicker__day--in-selecting-range,
    .react-datepicker__day--in-range,
    .react-datepicker__day--selected,
    .react-datepicker__day--in-selecting-range,
    .react-datepicker__day--in-range {
      background-color: $greenPrimaryColor;
    }

    .react-datepicker__day--in-selecting-range:not(.react-datepicker__day--in-range, .react-datepicker__month-text--in-range, .react-datepicker__quarter-text--in-range, .react-datepicker__year-text--in-range) {
      background-color: $greenPrimaryColorOpacity;
    }
  }
}
