@import "./fonts/fontfaces.scss";
@import "./vars.scss";

* {
  margin: 0;
  padding: 0;
}

.app-content {
  height: 94vh;
}

.content-centered {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: absolute;
  top: 30%;
  width: 100%;
}

[class^="icon-"],
[class*=" icon-"] {
  &:before {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: "icomoon" !important;
    font-size: inherit;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    vertical-align: middle;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 16px;
  }
}

body {
  font-family: $font2;
}

.icon-cancel {
  &:before {
    content: $icon-cancel;
  }
}

.icon-pin-circle {
  &:before {
    content: $icon-pin-circle;
  }
}

.icon-calendar {
  &:before {
    content: $icon-calendar;
  }
}

.icon-person {
  &:before {
    content: $icon-person;
  }
}

.icon-star-full {
  &:before {
    content: $icon-star-full;
  }
}

.icon-hamburger {
  &:before {
    content: $icon-hamburger;
  }
}

.icon-before {
  &:before {
    margin-right: 8px;
  }
}

.icon-loading {
  animation: spinner 1.1s linear infinite;
  border: 0.3em solid hsla(0deg, 0%, 6%, 0.2);
  border-left-color: #fff;
  border-radius: 50%;
  display: inline-block;
  font-size: 11px;
  height: 1em;
  transform: translate(-50%, -50%);
  width: 1em;

  &.big {
    font-size: 54px;
    border-width: 0.2rem;
  }
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;

  .icon-loading {
    display: block;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 100;
  margin-bottom: 10px;
}

a {
  color: unset;
  text-decoration: none;

  &.underlined {
    text-decoration: underline;
  }

  &.medium {
    font-size: 14px;
  }

  &.button {
    background-color: $colorGrey;
    font-size: 12px;
    padding: 8px 12px;
    border-radius: 2px;
  }
}

p,
button {
  &.small {
    font-size: 12px;
  }
  &.medium {
    font-size: 14px;
  }
}

p {
  margin-bottom: 8px;

  &.error {
    color: $errorColor;
  }
}

button {
  font-family: $font2;

  &.link {
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    text-decoration: underline;

    &.not-underlined {
      text-decoration: none;
    }
  }
}

.rating {
  .icon-star-full {
    position: absolute;
    transform: translate(2px, -2px);

    &:before {
      color: $errorColor;
      font-size: 14px;
    }
  }
}

.accent {
  color: $greenPrimaryColor;
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes appearing {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
