$font1: "ivy_moderegular";
$font2: "messina_sans";

$colorMin: #fff;
$colorGrey: #e3e3e8;
$headingPrimaryColor: #12161e;
$errorColor: #c65858;
$colorBlack: rgb(0, 0, 0);
$darkGrey: #ababac;
$secondaryButtonColor: #adddca45;
$greenPrimaryColor: #378e6bc8;
$greenPrimaryColorOpacity: #378e6b80;

$icon-cancel: "\e904";
$icon-pin-circle: "\e91f";
$icon-calendar: "\e964";
$icon-person: "\e936";
$icon-star-full: "\e962";
$icon-hamburger: "\e90e";
